/*Colors*/
/*-------------------*/
$color-primary:		#FAA61A !default;
$color-secondary: 	#71C8F0 !default;
$color-tertiary:	#00647F !default;
$bg-gray:			#F5F5F5 !default;

/*Fonts*/
/*-------------------*/
$font-base:			'Montserrat', sans-serif !default;